include *.py
include *.f
include *.c
recursive-include pysatMissions *.py
include *.md
include description.txt
include LICENSE
include pysatMissions/version.txt
prune pysatMissions/tests
prune docs
prune demo
exclude *.pdf
exclude *.png
